<html>
    <head>
        <title>Results: <%= query %></title>
    </head>
    <body>
        <h1>Results for <%= query %></h1>
        <form id="search-form">
            <input name="q" value="<%= query %>">
            <input type="submit">
        </form>
        <ul>
            <% results.forEach(result => { %>
                <li><%= result %></li>
            <% }); %>
        </ul>
        <script defer src="/public/search.ejs"></script>
    </body>
</html>